.app {
  width: 95vw;
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navBar {
  display: flex;
  justify-content: space-between;
  width: 90%;
  padding: 20px;
  font-size: 1.2rem;
}

.navLinks {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navLinks a,
.navLinks a:visited {
  color: inherit;
  text-decoration: none;
  border: solid 2px black;
  padding: 3px;
  border-radius: 5px;
}

.loggedIn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.logOutIcon {
  margin-left: 20px;
  border: solid 2px black;
  padding: 3px;
  border-radius: 5px;
}

.logOutIcon {
  height: 30px;
  width: auto;
}

.loggedInUserIcon {
  border-radius: 10px;
  height: 40px;
  width: auto;
}

.navLinks a:hover,
.logOutIcon:hover {
  box-shadow: 2px 2px 3px 3px grey;
}

.container {
  width: 90%;
  height: 90%;
}
