.container {
  width: 100%;
}

.info {
  display: grid;
  grid-template-columns: fit-content 25px;
  justify-content: center;
  justify-items: center;
  align-items: center;
  gap: 5px;
}

.profilePic,
.username,
.bio,
.joinDate {
  padding: 10px;
}

.profilePic {
  height: 100px;
  width: auto;
  border-radius: 20px;
  grid-column: 1 / 2;
}

.editIcon {
  grid-column: 2 / 3;
  width: 20px;
  height: auto;
  border: solid 2px black;
  border-radius: 5px;
  padding: 3px;
  filter: var(--svg-filter);
}

.editIcon:hover {
  box-shadow: 2px 2px 3px 3px grey;
}

.username {
  grid-column: 1 / 2;
  font-size: 1.5rem;
  text-align: center;
  font-weight: 600;
}

.bio {
  grid-column: 1 / 2;
  font-size: 1.2rem;
}

.loggedOutMessage {
  text-align: center;
}

.joinDate {
  grid-column: 1 / 2;
  text-align: center;
}

.fileSelected {
  display: flex;
  align-items: center;
  gap: 10px;
}

.submitFile {
  background-color: inherit;
  border: solid 2px white;
  border-radius: 5px;
  padding: 3px;
  color: white;
  box-shadow: 1px 1px 2px 3px grey;
  font-size: 0.9rem;
}

.loading {
  text-align: center;
}
