html {
  --user: rgb(66, 66, 219);
  --other-user: grey;
}

.chatPanel {
  border: var(--border);
  border-radius: 5px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.otherUser {
  margin: 4px 0;
}

.chatContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.chats {
  display: grid;
  grid-template-columns: minmax(500px, 1000px);
  grid-auto-rows: min-content;
  list-style-type: none;
  gap: 5px;
  overflow-y: scroll;
}

.noChats,
.chats {
  height: calc((0.9 * 95vh) - 65px - 35px - 35px - (5px * 4));
  padding: 5px 5px 35px 5px;
  margin: 5px 0;
}

.chats li {
  color: white;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 1px 1px 3px 2px white;
  position: relative;
}

.loggedInUserChat {
  justify-self: flex-end;
  background-color: var(--user);
}

.otherUserChat {
  background-color: var(--other-user);
  justify-self: flex-start;
}

.chatInput {
  width: 100%;
  display: flex;
  gap: 15px;
  justify-content: center;
  height: 35px;
  justify-self: flex-end;
}

.chatInput input {
  border-radius: 5px;
  font-size: 1.1rem;
  padding: 5px;
}

.inputField {
  background-color: var(--user);
  border: none;
  color: white;
  width: 70%;
  box-shadow: 2px 2px 3px 3px white;
}

.sendBtn {
  border: solid 2px var(--user);
  background-color: var(--user);
  color: white;
  box-shadow: 1px 1px 3px 1px white;
}

.msgTime {
  background-color: white;
  color: rgb(24, 24, 24);
  position: absolute;
  padding: 3px;
  border-radius: 5px;
  top: 100%;
  font-size: 0.8rem;
  width: 100px;
  box-sizing: border-box;
  z-index: 2;
}

.loggedInUserChat .msgTime {
  right: max(0px, calc(100% - 100px));
}

.otherUserChat .msgTime {
  right: min(0px, calc(100% - 100px));
}
